.comentarios__conteudo {
    background-color: #F4F0EC;
    width: 100%;
    height: auto;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    gap: 38px;
}

.comentarios__container{
    padding: 88px 24px;
}

.comentarios__titulo {
    width: 100%;
    font-size: 50;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    text-align: center;
}

.card__pessoas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
