.header {
    position: 'relative';
}

.header__img {
    width: 100%;
    height: 'auto';
}

.header__texto {
    position: absolute;
    width: 22%;
    top: 35%;
    margin-left: 64px;
}

.header__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 65px;
    margin: 0;
    font-weight: 400;
}

.header__subtitulo {
    font-size: 22px;
    color: var(--cinza);
}

.header__botao {
    display: flex;
    padding: 26px 49px;
    width: fit-content;
    background-color: var(--azul-escuro);
    border-radius: 18px;
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


