body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  margin: 0 19vw;
}

